<div>
    <a routerLink="/emaillist">Go to the email list</a>
</div>

<h2>Email Form</h2>

<form #emailForm="ngForm" (ngSubmit)="sendForm()">
    <div class="form-group">
        <label> From: </label>
        <input class="form-control" 
                type="text" 
                required 
                [(ngModel)]="email.from" 
                name="from" 
                #from="ngModel"
                [ngClass]="from.valid || from.pristine ? '': 'bg-danger'"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">

        <div class="alert alert-danger" *ngIf="from.touched && !from.valid">
            <div *ngIf="from.errors.required">Email is required.</div>
            <div *ngIf="from.errors.pattern">Email does not match the required pattern.</div>
        </div>        
    </div>

    <div class="form-group">
        <label> To: </label>
        <input class="form-control" 
                type="text" 
                required 
                [(ngModel)]="email.to" 
                name="to" 
                #to="ngModel"
                [ngClass]="to.valid || to.pristine ? '': 'bg-danger'"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">

        <div class="alert alert-danger" *ngIf="to.touched && !to.valid">
            <div *ngIf="to.errors.required">Email is required.</div>
            <div *ngIf="to.errors.pattern">Email does not match the required pattern.</div>
        </div>        
    </div>

    <div class="form-group">
        <label> Subject: </label>
        <input class="form-control" type="text" required [(ngModel)]="email.subject" maxlength="50" name="subject" #subject="ngModel">

        <div class="alert alert-danger" *ngIf="subject.touched && !subject.valid">
            <div *ngIf="subject.errors.required">Subject is required.</div>
            <div *ngIf="subject.errors.pattern">Subject must be smaller than 50 characters long.</div>
        </div>
    </div>

    <div class="form-group">
        <label> Email Body: </label>
        <input class="form-control" type="text" [(ngModel)]="email.body" name="body" #body="ngModel">
    </div>

    <div class="text-right">
        <button class="btn btn-primary btn-sm mr-1" type="submit" [disabled]="!emailForm.form.valid">Add Email to List</button>
        <button class="btn btn-primary btn-sm mr-1" type="button" (click)="clear()">Clear Email</button>

    </div>
</form>